<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		{% include google_analytics.html %}
		
		<body>
			<div class="header">
				<h3 class="text-muted text-start header"><a href="/">JEREMY MAJEROVITZ</a></h3>
				<ul class="nav nav-pills justify-content-end">
					<li class="nav-item"><a class="nav-link" href="/cv/Majerovitz_CV_April_2019.pdf">CV</a></li>
					<li class="nav-item"><a class="nav-link" href="/research">RESEARCH</a></li>
				</ul>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			<li><a href="mailto:jmajic@mit.edu">CONTACT ME</a></li>
				</ul>
			</footer>
		</body>
	</html>
