<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!--
		    	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    			<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			-->
		</head>
		
		{% include google_analytics.html %}
		
		<body>
			<div class="container">
				<h1 class="text-center"><a href="/">Jeremy Majerovitz</a></h1>
				<div class="page-header">
					<ul class="nav nav-pills <!-- justify-content-center --> nav-justified">
						<li class="nav-item"><a class="nav-link {{ page.home }}" href="/">HOME</a></li>
						<li class="nav-item"><a class="nav-link {{ page.cv }}" href="/cv/Majerovitz_CV.pdf">CV</a></li>
						<li class="nav-item"><a class="nav-link {{ page.research }}" href="/research">RESEARCH</a></li>
					</ul>
				</div>
			
			{{ content }}
			
			</div><!-- /.container -->
			<!-- 
			<div class="footer">
				<div class="row">
					<p><a href="mailto:jmajic@mit.edu">CONTACT ME</a></p>
				</div>
			</div>
			-->
		</body>
	</html>
